{{#if msg_successo}}
    <div class="container my-5">
        <div class="alert alert-success">{{msg_successo}}</div>
    </div>
{{/if}}

{{#if msg_errore}}
    <div class="container my-5">
        <div class="alert alert-danger">{{msg_errore}}</div>
    </div>
{{/if}}

