{{#if error}}
    <div class="container my-5">
        <div class="alert alert-danger">{{error}}</div>
    </div>
{{/if}}

{{#each errori}}
    <div class="container my-5">
        <div class="alert alert-danger">{{text}}</div>
    </div>
{{else}}

{{/each}}