<footer class="bg-dark" style="position: relative; height: 12ex; margin-top: -12ex;">
  <div class="text-center py-3 text-white">© 2019 Copyright:
    <p>Arcangelo Massari, Nicola Bina, Gioele Bolletta</p>
  </div>
</footer>

