{{!-- <div class="container my-5">
    <h1>Where M I</h1>
    <img id="whereamiGif" src="whereami.gif" alt="Meme di John Travolta confuso">
</div>

<div class="container">
    <h4 class="text-center bg-success col-sm-12 col-md-8 col-lg-8 my-5 mx-auto">Accedi al tuo account</h4>
    <div class="col-sm-12 col-md-8 col-lg-8 m-auto">
        <div class="card my-5">
            <form class="p-5 mb-3" method="post" action="/login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button type="submit" class="btn btn-success mb-4">Invia</button><br>
                <a href="/registrazione">Non hai un account? Crealo!</a>
            </form>
        </div>
    </div>
</div> --}}

<div class="jumbotron jumbotron-fluid">

<video autoplay muted loop poster="whereami.jpg">    
    <source src="whereami.mp4" type="video/mp4">
    <source src="whereami.264" type="video/h264">
</video>

  <div class="container text-white">

    <h1 class="display-4">Where M I</h1>
    <p class="lead">L'audioguida turistica del XXI secolo.</p>
    <hr class="my-4">
    <p>Vi è mai capitato di finire in qualche città sconosciuta e di non sapere cosa visitare?</p>
    <p>Ecco Where M I! Una coppia di app che danno un modo agile e gratuito per trovare audio-guide sul web e crearne di nuove.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Accedi</a>

  </div>
  <!-- /.container -->
</div>
<!-- /.jumbotron -->