<div class="jumbotron jumbotron-fluid">

<video autoplay muted loop playsinline poster="whereami.jpg">    
    <source src="whereami.mp4" type="video/mp4">
</video>

<canvas class="canvas"></canvas>        

  <div class="container text-white">

    <h1 class="display-4">Where M I</h1>
    <p class="lead">L'audioguida turistica del XXI secolo.</p>
    <hr class="my-4">
    <p>Vi è mai capitato di finire in qualche città sconosciuta e di non sapere cosa visitare?</p>
    <p>Ecco Where M I! Una coppia di app che danno un modo agile e gratuito per trovare audio-guide sul web e crearne di nuove.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Accedi</a>

  </div>
  <!-- /.container -->
</div>
<!-- /.jumbotron -->