<div>
    <div id="mappa">
        <div id="video-placeholder"></div>
    </div>
    <div id='inputs'></div>
    <div id='errors'></div>
    <div id='directions'>
    <div id='routes'></div>
    <div id='instructions'></div>
</div>

<section id="scroll">
    <a href="#titolo" id="toResults" title="Link ai risultati">
        <span></span>
    </a>
</section>

<div class="text-center m-5" id="titolo">
    <h1>Visitare Praga</h1>
    <p class="lead" id="numeroRisultati"></p>
</div>

<input id="coordinate" type="hidden" value="">
<input id="videoId" type="hidden" value="">

<div class="row m-5">
    <div class="input-group input-group-sm mb-3 col-sm-5 offset-sm-3 col-lg-2 offset-lg-5">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input id="noFiltri" type="checkbox" onchange="filtra()">
            </div>
        </div>
        <input type="text" class="form-control" value="Disattiva filtri" readonly>
    </div>
</div>
<div class="row m-5">
    <div class="input-group mb-3 col-sm-12 col-lg-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="lingua">Lingua</label>
        </div>
        <select name="lingua" id="lingua" class="custom-select" onchange="filtra()">
            <option id="it" value="it">italiano</option>
            <option id="en" value="en">inglese</option>
            <option id="de" value="de">tedesco</option>
            <option id="fr" value="fr">francese</option>
            <option id="es" value="es">spagnolo</option>
        </select> 
    </div>

    <div class="input-group mb-3 col-sm-12 col-lg-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="audience">Audience</label>
        </div>
        <select name="audience" id="audience"t class="custom-select" onchange="filtra()">
            <option id="gen" value="gen">pubblico generico</option>
            <option id="pre" value="pre">pre-scuola</option>
            <option id="elm" value="elm">scuola primaria</option>
            <option id="mid" value="mid">scuola media</option>
            <option id="scl" value="scl">specialisti del settore</option>
        </select> 
    </div>

    <div class="input-group mb-3 col-sm-12 col-lg-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="dettaglio">Dettaglio</label>
        </div>
        <select name="dettaglio" id="dettaglio"t class="custom-select" onchange="filtra()">
            <option id="1" value="1" selected>leggero</option>
            <option id="2" value="2">medio</option>
            <option id="3" value="3">approfondito</option>
        </select> 
    </div>
</div>


<div class="m-5">
    <div class="row" id="results">
    </div>
</div>

<script src="script/mappaBrowser.js"></script>
<script src="script/youtubeBrowser.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script>
    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('video-placeholder', {
            width: 200,
            height: 200,
            playerVars: {'origin':'https://site181909.tw.cs.unibo.it'}
        });
    }
    document.getElementById("{{lingua}}").selected = true;
    document.getElementById("{{audience}}").selected = true;

</script>
