<div class="container">
  <h2 class="my-4">Preferenze utente: {{ nome }} {{ cognome }} ({{ email }})</h2>
  <form id="preferenze" action="/preferenze" method="POST">
    <select name="lingua" id="lingua" onchange="languageSelect()">
      <option id="italiano" value="italiano">italiano</option>
      <option id="english" value="english">english</option>
    </select>
    <br><br>
    <button type="submit" class="btn btn-success">Aggiorna</button>
  </form>
</div>
<script>
  document.getElementById("{{lingua}}").selected = "true";
</script>