* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
}
/*To show a full-screen map*/
#mappa {
  height: 88vh;
}

#mappaEditor {
  height: calc(100vh - 9ex);
}

.info {
  padding: 10px;
  font-size: 2em;
  color: #b87f84;
  background-color: #f8d7da;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.info p {
  margin: 0;
}
/*To show microphone's button without the appearance of a button*/
#bottone-registratore {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

#alert-su-mappa {
  z-index: 1;
}

#inputs,
#errors,
#directions {
  position: absolute;
  width: 33.3333%;
  max-width: 300px;
  min-width: 200px;
  display: none;
}

#inputs {
  z-index: 10;
  top: 12em;
  left: 10px;
}

#directions {
  z-index: 20000;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

#errors {
  z-index: 8;
  opacity: 0;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  background: rgba(0, 0, 0, 0.25);
  top: 90px;
  left: 10px;
}

@media screen and (max-width: 576px) {
  .indicazioni {
    visibility: hidden;
  }
  #inputs,
  #errors,
  #directions {
    visibility: hidden;
  }
  .leaflet-control-geocoder-form input {
    width: 50vw;
  }
}

@media screen and (max-width: 756px) {
  #inputs {
    top: 12em;
    bottom: 0;
    right: 0;
  }
  #directions {
    top: 0;
    bottom: 0;
    right: 0;
  }
}

#video-placeholder {
  position: relative;
  bottom: 10000px;
}

.clip-description {
  max-height: 10em;
  overflow: auto;
}

#scroll {
    background-color: #343B40;
    height: 56px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
}

#scroll:hover{
  opacity: .9;
  transition: 0.5s;
}

#scroll span {
  position: absolute;
  bottom: 2.5em;
  width: 1.5em;
  left: 50%;
  margin-left: -0.8em;
  height: 1.5em;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: scroll 1.5s infinite;
  animation: scroll 1.5s infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  height: 94vh;
  margin: 0;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}

#contenitore {
  min-height: 100%;
}

#main {
  padding-bottom: 12ex; /*Riempie lo spazio vuoto prima del footer*/
}

footer {
  position: relative;
  height: 12ex;
  margin-top: -12ex; /*Compensa il padding aggiunto, sempre per levare spazi bianchi*/
}



