img {
    position: absolute;
    bottom: 0;
    right: 0;
}
/*To show a full-screen map*/
#mappa { 
    height: calc(100vh - 56px);
}
.info {
    padding: 10px;
    font-size: 2em;
    color: #B87F84;
    background-color: #F8D7DA;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.info p {
    margin: 0;
}
/*To show microphone's button without the appearance of a button*/
#bottone-registratore { 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

#alert-su-mappa {
    z-index: 1;
}

#inputs,
#errors,
#directions {
    position: absolute;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
    display: none;
}

#inputs {
    z-index: 10;
    top: 12em;
    left: 10px;
}

#directions {
    z-index: 20000;
    background: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}

@media screen and (max-width: 576px) {
    .indicazioni {
        visibility: hidden;
    }
    #inputs, #errors, #directions {
        visibility: hidden;
    }
    .leaflet-control-geocoder-form input {
        width: 50vw;
    }
}

@media screen and (max-width: 756px) {
    #inputs {
    top: 12em;
    bottom: 0;  
    right: 0;
  }
  #directions {
    top: 0;
    bottom: 0;  
    right: 0;
  }
}

#video-placeholder{
    position: relative;
    bottom: 10000px;
}

#card-image {
    width: 100%;
    object-fit: cover;
}

